.github_button{
  background-color: rgb(46, 164, 79);
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 14px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  transition: box-shadow 0.15s,
  opacity 0.15s;
 
}
.github_button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.github_button:active{
  opacity: 0.7;
}
