.text_email{
  margin-left:280px ;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
}
.email{
  margin-left: 280px;
  width: 300px;
  border-width: 1px;
  padding-top: 10px;
  border-color: rgba(0, 0, 0, 0.512);
  
}
.last{
 
  text-align: center;
  margin-top: 12px;
  color: grey;
}
.join_btn{
  color: aliceblue;
 font-size: 15px;
  margin-left: 280px;
  width:300px;
  border-radius:150px ;
  background-color: rgb(20, 134, 228);
  border: none;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right:30px ;
}