p{
    text-align: center;
    font-family: Arial;
  }
  .Desc{
    font-weight: bold;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .new{
    color: rgb(227, 96, 96);
    margin-bottom: 10px;

  }
  .model{
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  
  }
  .from{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .Buy_button{
  background-color: rgb(32, 128, 212);
    margin-left: 920px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 25px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
  }